[MAIN]
# Enable most refactor suggestions
# You might want to adjust this based on your preference
enable=refactoring
suggestion-mode=yes

[MESSAGE CONTROL]
disable=C0103,W0718

[FORMAT]
max-line-length=550


[TYPECHECK]
# Ignored names
ignore=SFapp